@reference "tailwindcss";

:root {
    /**
     * Colors
     */
    --background: hsl(210 20% 98.04%);
    --foreground: hsl(0 0 20%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(215 12% 20%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(215 12% 27%);

    --primary: hsl(208 94% 24%);
    --primary-foreground: hsl(0 0% 100%);

    --secondary: hsl(194 73% 69%);
    --secondary-foreground: hsl(199 73% 29%);

    --muted: hsl(240 5% 96%);
    --muted-foreground: hsl(215 12% 45%);

    --accent: hsl(230 43% 97%);
    --accent-foreground: hsl(240 6% 10%);

    --destructive: hsl(0 79% 38%);
    --destructive-foreground: hsl(0 0% 100%);

    --success: hsl(96 57% 31%);
    --success-foreground: hsl(0 0% 100%);

    --warning: hsl(30 90% 60%);
    --warning-foreground: hsl(30 60% 17%);

    --border: hsl(214 32% 92%);

    --input: hsl(240 6% 77%);
    --input-background: hsl(210 20% 98%);

    --ring: hsl(30 90% 85%);

    --active: hsl(208 94% 34%);
    --active-hover: hsl(208 94% 24%);
    --active-foreground: hsl(359 100% 100%);

    /**
     * Sidebar
     */
    --sidebar-background: hsl(0 0% 98%);
    --sidebar-foreground: hsl(240 5.3% 26.1%);
    --sidebar-primary: hsl(240 5.9% 10%);
    --sidebar-primary-foreground: hsl(0 0% 98%);
    --sidebar-accent: hsl(240 4.8% 95.9%);
    --sidebar-accent-foreground: hsl(240 5.9% 10%);
    --sidebar-border: hsl(220 13% 91%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);

    /**
     * Dimensions
     */
    --width-sm: 640px;
    --width-md: 768px;
    --width-lg: 1024px;
    --width-xl: 1280px;
    --width-2xl: 1536px;
    --width-3xl: 1880px;
    --width-4xl: 2400px;

    /**
     * Mobile
     */
    --mobile-width: var(--width-md);

    /**
     * Radius
     */
    --radius: 0.5rem;

    --text-inherit: inherit;
}

.dark {
    /**
     * Colors
     */
    --background: hsl(240 10% 5%);
    --foreground: hsl(0 0% 90%);

    --card: hsl(240 10% 9%);
    --card-foreground: hsl(0 0% 90%);

    --popover: hsl(240 10% 3.9%);
    --popover-foreground: hsl(0 0% 98%);

    --primary: hsl(202 100% 27%);
    --primary-foreground: hsl(0 0% 100%);

    --secondary: hsl(202 100% 36%);
    --secondary-foreground: hsl(202 100% 96%);

    --muted: hsl(240 3.7% 15.9%);
    --muted-foreground: hsl(240 5% 64.9%);

    --accent: hsl(240 3.7% 15.9%);
    --accent-foreground: hsl(0 0% 98%);

    --destructive: hsl(0 62.8% 59%);
    --destructive-foreground: hsl(0 0% 98%);

    --success: hsl(96 57% 45%);
    --success-foreground: hsl(0 0% 100%);

    --border: hsl(240 4% 26%);

    --input: hsl(240 4% 56%);
    --input-background: hsl(210 20% 28%);

    --ring: hsl(240 4.9% 83.9%);

    --active: var(--primary);

    /**
     * Sidebar
     */
    --sidebar-background: hsl(240 5.9% 10%);
    --sidebar-foreground: hsl(240 4.8% 95.9%);
    --sidebar-primary: hsl(224.3 76.3% 48%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(240 3.7% 15.9%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: hsl(240 3.7% 15.9%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
    --color-primary: var(--primary);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);
    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-input-background: var(--input-background);
    --color-ring: var(--ring);
    --color-active: var(--active);
    --color-active-hover: var(--active-hover);
    --color-active-foreground: var(--active-foreground);

    /**
     * Sidebar
     */

    --color-sidebar: var(--sidebar-background);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@theme {
    --accordion-animation-delay: 0.3s;
    --animate-accordion-down: accordion-down var(--accordion-animation-delay) ease-out;
    --animate-accordion-up: accordion-up var(--accordion-animation-delay) ease-out;

    --animate-accordion-down-mounted: accordion-down var(--accordion-animation-delay) forwards ease-out;
    --animate-accordion-up-mounted: accordion-up var(--accordion-animation-delay) forwards ease-out;

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--radix-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
}

@layer base {
    body {
        @apply text-foreground bg-slate-100 p-0 dark:bg-gray-900;
    }

    svg {
        @apply inline-block stroke-[1.5px] text-current;
    }

    a {
        @apply text-active hover:text-active underline;

        &:hover,
        &:active,
        &:focus-visible {
            @apply text-active-hover no-underline;
        }
    }

    body {
        @apply text-base/6;
    }

    .button.-primary {
        box-shadow:
            inset 1px 1px 2px 0 rgba(256, 256, 256, 0.4),
            inset -1px -1px 2px 0 rgba(0, 0, 0, 0.2);
    }

    .button.-secondary {
        box-shadow:
            inset 1px 1px 2px 0 rgba(256, 256, 256, 0.6),
            inset -1px -1px 2px 0 rgba(0, 0, 0, 0.1);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-semibold;
    }

    h1 {
        @apply text-4xl tracking-tight;
    }

    h2 {
        @apply text-2xl tracking-tight;
    }

    h3,
    .h3 {
        @apply text-xl tracking-tight;
    }

    h4 {
        @apply text-lg;
    }

    h5 {
        @apply text-base;
    }

    h6 {
        @apply text-base;
    }

    label span {
        @apply bg-muted text-muted-foreground rounded-full px-1.5 py-0.5 text-xs leading-none;
    }

    .button {
        @apply rounded-full;
    }

    svg {
        width: 20px;
        height: 20px;
        @apply transition;
    }
}
